@import '../../mixins/mixins.scss';
@import '../../globals/globals.scss';

.section_swiper {
	.swiper-button-prev,
	.swiper-button-next {
		top: 487px !important;
		color: $text-color !important;
		@include respond-to(medium){
			top: 367px !important;
		}
		@include respond-to(large){
			top: 367px !important;
		}
	}

	.swiper-button-next:after, 
	.swiper-button-prev:after {
		font-family: swiper-icons;
		font-size: 19px !important;
		letter-spacing: 0;
		font-variant: initial;
		line-height: 1;
	}

	.swiper-button{
		position: absolute !important;
		width: 85px !important;
		right: 50px;
		@include respond-to(medium){
			width: 120px !important;
			right: 120px;
		}
		@include respond-to(large){
			width: 120px !important;
			right: 120px;
		}
	}

	.swiper,.swiper-container{
		@include respond-to(large) {
			overflow: visible !important;
		}	
	}

	.swiperPost_title{
		display: flex;
		flex-direction: column;

		h5{
			font-family: $Poppins;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #B6BFD9;
		}

		h2{
			font-family: $Poppins;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 120%;
			color: $text-color; 
		}

		p{
			font-family: $Open_Sans;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: $bkog-paragraph;
		}

		.description{
			max-width: 284px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 0 0 120px 4%;
			gap: 8px;

			@include respond-to (medium) {
				justify-content: space-between;
				flex-direction: row;
				max-width: 88%;
				margin-left: 6%;
				gap: 28%;
			}
			@include respond-to (large) {
				flex-direction: row;
				max-width:45%;
				margin-left: 22%;
				margin-bottom: 204px;
			}
		}

		.h2_postlarge{
			font-size: 24px;

			@include respond-to (medium) {
				width: 319px;
				font-weight: 300;
				font-size: 48px;
				line-height: 120%;
			}

			@include respond-to(large) {
				width: 33%;
				font-size: 32px;
			}
		}

		.p_postlarge{
			@include respond-to (medium) {
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
			}
		}

		.h5_postlarge{
			text-align: inherit;
			display:flex;
			z-index: 5;
			margin: 54px 0 0 4%;

			@include respond-to(medium){
				margin-left: 6%;
			}

			@include respond-to(large){
				margin-left: 22%;
			}
		}

		.p_postlarge span{
			word-break: break-all;
		}

		.swiperPost_title_image{
			width: 194px;
			height: 214px;
			position: absolute;
			top: 0;
			z-index: -1;
			left: 4%;
			@include respond-to(medium){
				left: 6%;
			}

			@include respond-to(large){
				left: 16%;
			}
		}
	}

	.swiperPost_background{
		margin:0 auto;
		height: 440px;
		background-color: #F9FAFC;
		border-radius: 8px;
		width: 92%;
		box-shadow: 0px 38px 56px rgba(191, 204, 225, 0.39), 
			0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 
			0px 15.8955px 0px rgba(191, 204, 225, 0.0372931);

		@include respond-to(medium) {
			width: 89%;
			height: 290px;

			.swiper_body{
				padding: 0;
			}
		}

		@include respond-to(large) {
			width: 825px;
			height: 290px;
		}
	}
	

	.swiperPost_body{
		position: relative;
		margin: 0 auto;
		top: -100px;
		right: -21px;
		@include respond-to(medium){
			top: -107px;
		  right: -50px;
		}

		@include respond-to(large){
			top: -100px;
			right: -50px;
		}
	}

	.swiper_slide_image img{
		border-radius: 50%;
		padding-right: 4%;
		width:84px;
		height:84px;
	}

	.swiper_slide_posts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.swiper_slide_post{
		.stars {
			display: flex;
			align-items: center;
			margin-bottom: 48px;

			.star {
				font-size: 21px;
				color: #ddd;
				margin-right: 5px;

				&:last-child {
					margin-right: 0;
				}

				&:first-child{
					margin-left: 8px;
				}

				&.filled {
					color: #32D989;
				}
			}
		}
	}
		
	.swiper_slidePost{
		padding: 5px 24px 20px 24px;
		width: 255px;
		height: 444px;
		background-color: $white-color;
		border-radius: 8px;
		position: relative;
		box-shadow: 0px 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0px 15.8955px 0px rgba(191, 204, 225, 0.0372931);

		@include respond-to(medium){
			width: 540px;
			height: 338px;
		}

		@include respond-to(large){
			width: 540px;
			height: 338px;
		}

		h5{
			font-family: $Poppins;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 120%;
			color: $text-color;
			margin: 16px 0;
		}

		p{
			font-family: $Open_Sans;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: $text-color;
		}
	}

	.swiper_slide_main{
		display: flex;
		flex-direction: row;
		margin-bottom: 19px;
	}    

	.swiper_slide_post h4{
		font-family: $Open_Sans;
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		line-height: 150%;
		text-align: left; 
		margin-bottom: 8px;
		max-height: 237px;
    overflow: hidden;
		text-overflow: ellipsis;
	}

	.swiperPost_title{
		@include respond-to(medium) {
			max-width: 89%;
			h5{
				font-size: 18px;
			}

			h2{
				font-size: 48px;
				max-width: 540px;
			}

			p{
				font-size: 16px;
				max-width: 350px;
			}
		}
	}

	.swiperPost_title {
		@include respond-to(large) {
			.p_postlarge{
				width: 33%;
			}
		}
	}
}  